/*  your css code here. If applicable */
p::before{
	content: "Before Element ";
	color: #FE5C57;
	font-size: 20px;
	font-weight: bold;
}
p::after{
	content: " After Element";
	color: #FE5C57;
	font-size: 20px;
	font-weight: bold;
}